
.brief-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    padding: 4rem;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-content h5 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 1.5rem;
    color: #d3d3d3; /* Slightly lighter shade for contrast */
}

.profile-img {
    height: auto;
    width: 20%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    border-radius: 10rem;
}

.journey-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

.journey-container h3 {
    font-size: 1.5rem; /* Default size for large screens */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #e7e7e7;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.icon-git {
    margin-right: 20px;
    height: 4rem;
    width: 4rem;
}

.button-view {
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.5s ease;
}

.button-view:hover {
    color: #001f3f;
    background-color: white;
}

/* Responsive Design */
@media (max-width: 992px) {
    .brief-description-container {
        flex-direction: column;
        padding: 2rem;
    }

    .text-content {
        max-width: 100%;
        text-align: center;
    }

    .text-content h1 {
        font-size: 2rem; /* Adjusted size for medium screens */
    }

    .text-content h5 {
        font-size: 1rem;
    }

    .profile-img {
        width: 30%;
        margin: 2rem 0;
    }

    .journey-container {
        flex-direction: column;
        padding: 2rem;
    }

    .journey-container h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .brief-description-container {
        padding: 1rem;
    }

    .text-content h1 {
        font-size: 1.5rem; /* Adjusted size for small screens */
    }

    .text-content h5 {
        font-size: 0.9rem;
    }

    .profile-img {
        width: 50%;
    }

    .journey-container {
        flex-direction: column;
        padding: 1rem;
    }

    .journey-container h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .icon-git {
        margin-bottom: 10px;
    }

    .button-view {
        font-size: 15px;
        padding: 8px;
    }
}
