/* Write your CSS here */
.chrono-container {
    max-width: 1110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .time-line-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: rgb(14,14,20);
    background: linear-gradient(90deg, rgba(14,14,20,0.9248949579831933) 52%, rgba(128,107,116,0.41789215686274506) 100%);
  }
  
  .HeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .Heading {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    line-height: 2.7;
    margin: 0px;
    font-style: italic;
  }
  

  
  .CCBPHeading {
    color: red;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
  }
  

  